:root{
    --green: rgba(102, 236, 106, 0.991);
    --blue: rgba(89, 162, 226, 1);
    --blue-l: rgba(89, 162, 226, 0.70);
    --dark: #272829;
    --dark-l: #2728294c;
    --ligth: #FFF6E0;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.img-header{
    height: 40vh;
}

.cabecera{
    height: 70vh;
    width: 100%;
    background: url("../media/img3.jpg"), url("../media/img1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    color: var(--blue);
    text-shadow: 0 0 10px var(--blue);
    text-align: center;
    padding-top: 10vh;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    padding: 2vh;
    text-align: center;
    background-color: var(--dark);
}

.footer > span{
    font-family: 'Raleway', sans-serif;
    color: var(--ligth);
    text-shadow: 0 0 10px var(--ligth);
}

.hide{
    position: fixed;
    right: -100vh;
    transition: 1s;
    top: 0;
    bottom: 0;
}

small > a{
    text-decoration: none;
    color: var(--blue);
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 1000px) {
    .button{
        position: fixed;
        right: -100vh;
        transition: 1s;
    }

    #close{
        display: none;
    }

    nav{
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 2vw;
        padding-right: 2vw;
        background-color: var(--dark);
        position: sticky;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-family: 'Raleway', sans-serif;
    }
    
    nav > .nav-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav-item{
        margin: 0 10px;
        border-left: 1px solid var(--blue);
        transition: .5s;
    }
    
    .nav-item:hover{
        border-left: 6px solid var(--blue);
        transition: .5s;
    }
    
    .nav-link{
        color: var(--ligth);
        text-shadow: 0 0 10px var(--ligth);
        text-decoration: none;
        font-size: 1.1rem;
    }
    
    .brand{
        padding-right: 30px;
        color: var(--blue);
        text-shadow: 0 0 10px var(--blue);
        font-size: 2rem;
        text-decoration: none;
    }

    .row-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px;
        max-width: 80vw;
        margin: 10px auto 10px auto;
    }
    
    .row-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 10px;
        max-width: 80vw;
        margin: 10px auto 10px auto;
    }
    
    .row-3{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 10px;
        max-width: 80vw;
        margin: 10px auto 10px auto;
    }

    .card{
        width: 20vw;
        height: fit-content;
        margin: 40px auto;
        border-radius: 20px;
        border-style: solid;
        border-width: .5px;
        border-color: var(--dark-l);
        box-shadow: 0 0 20px var(--dark-l);
        transition: .5s;
    }
    
    .card:hover{
        box-shadow: 10px 0 10px var(--dark-l);
        transition: .5s;
    }
    
    .card-form{
        width: 40vw;
        height: fit-content;
        margin: 40px auto;
        padding: 20px;
        border-radius: 20px;
        border-style: solid;
        border-width: .5px;
        border-color: var(--dark-l);
        box-shadow: 0 0 20px var(--dark-l);
        transition: .5s;
    }
    
    .card-form:hover{
        box-shadow: 10px 0 10px var(--dark-l);
        transition: .5s;
    }
    
    .img-card{
        width: 100%;
        border-radius: 20px 20px 0 0;
        z-index: -1;
    }
    
    .card-title{
        align-self: center;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: var(--dark);
        text-shadow: 0 0 0 var(--dark);
    }
    
    .card-body{
        text-align: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        padding: 10px;
    }
    
    .card-footer{
        position: sticky;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: var(--dark);
        border-radius: 0px 0px 20px 20px;
        color: var(--ligth);
        padding: 5px 0;
        font-family: 'Raleway', sans-serif;
        z-index: -1;
    }
    
    .form-group{
        padding: 20px 0;
    }
    
    .input{
        width: 100%;
        height: 7vh;
        border-radius: 10px;
        border-width: 1px;
        border-style: outset;
        padding-left: 10px;
        border-color: var(--dark-l);
        box-shadow: 0 0 10px var(--dark-l);
    }
    
    textarea{
        width: 100%;
        height: 20vh;
        border-radius: 10px;
        border-width: 1px;
        border-style: outset;
        padding-left: 10px;
        padding-top: 10px;
        border-color: var(--dark-l);
        box-shadow: 0 0 10px var(--dark-l);
    }
    
    .form-group > button{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--blue-l);
        background: linear-gradient(90deg, var(--blue), var(--blue));
        color: var(--ligth);
        box-shadow: 0 0 20px var(--blue);
    }
    
    main{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1000px) {

    .nav{
        position: fixed;
        width: 100vw;
        height: 7vh;
        background-color: #000;
        display: flex;
        align-items: center;
        transition: 1s;
    }

    .nav > button{
        width: 20%;
        height: 4vh;
        background-color: #ffffff00;
        color: #ffffff;
        border-width: 1px;
        border-style: solid;
        margin: 0 auto;
    }

    .navigator-show{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--dark-l);
        text-align: center;
        transition: 1s;
    }

    .navigator-hiden{
        position: fixed;
        left: -100vw;
        top: 0;
        bottom: 0;
        background-color: var(--dark-l);
        text-align: center;
        transition: 1s;
    }
    
    .nav-list{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 30px;
    }
    
    .nav-link{
        font-size: 3rem;
        color: var(--ligth);
        text-shadow: 0 0 10px var(--ligth);
        text-decoration: none;
    }
    
    .brand{
        font-size: 3rem;
        color: var(--ligth);
        text-shadow: 0 0 10px var(--ligth);
        text-decoration: none;
    }

    .row-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px;
        max-width: 80vw;
        margin: 10px auto 10px auto;
    }
    
    .row-2{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px;
        max-width: 80vw;
        margin: 10px auto 10px auto;
    }
    
    .row-3{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px;
        max-width: 80vw;
        margin: 10px auto 10px auto;
    }

    .card{
        width: 80vw;
        height: fit-content;
        margin: 40px auto;
        border-radius: 20px;
        border-style: solid;
        border-width: .5px;
        border-color: var(--dark-l);
        box-shadow: 0 0 20px var(--dark-l);
        transition: .5s;
    }
    
    .card:hover{
        box-shadow: 10px 0 10px var(--dark-l);
        transition: .5s;
    }
    
    .card-form{
        width: 70vw;
        height: fit-content;
        margin: 40px auto;
        padding: 20px;
        border-radius: 20px;
        border-style: solid;
        border-width: .5px;
        border-color: var(--dark-l);
        box-shadow: 0 0 20px var(--dark-l);
        transition: .5s;
    }
    
    .card-form:hover{
        box-shadow: 10px 0 10px var(--dark-l);
        transition: .5s;
    }
    
    .img-card{
        width: 100%;
        border-radius: 20px 20px 0 0;
        z-index: -1;
    }
    
    .card-title{
        align-self: center;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: var(--dark);
        text-shadow: 0 0 0 var(--dark);
    }
    
    .card-body{
        text-align: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        padding: 10px;
    }
    
    .card-footer{
        position: sticky;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: var(--dark);
        border-radius: 0px 0px 20px 20px;
        color: var(--ligth);
        padding: 5px 0;
        font-family: 'Raleway', sans-serif;
    }
    
    .form-group{
        padding: 20px 0;
    }
    
    .input{
        width: 100%;
        height: 5vh;
        border-radius: 10px;
        border-width: 1px;
        border-style: outset;
        padding-left: 10px;
        border-color: var(--dark-l);
        box-shadow: 0 0 10px var(--dark-l);
    }
    
    textarea{
        border-radius: 10px;
        border-width: 1px;
        border-style: outset;
        padding-left: 10px;
        padding-top: 10px;
        border-color: var(--dark-l);
        box-shadow: 0 0 10px var(--dark-l);
    }
    
    .form-group > button{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        background: linear-gradient(90deg, var(--blue), var(--blue));
        color: var(--ligth);
        box-shadow: 0 0 20px var(--blue);
    }
    
    main{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}